

<div class="container">
    <div class="d-flex justify-content-center">
            <div class="col">
                <button type="button" class="btn btn-success">Start race</button>
              </div>
              <div class="col">
                <button type="button" class="btn btn-danger">End race</button>
              </div>
              <div class="col">
                <button type="button" class="btn btn-primary" (click)="SearchRace()">Search race</button>
              </div>
              <div class="col">
                <button type="button" class="btn btn-primary" (click)="SearchTeam()">Search team</button>
              </div>
              <div class="col">
                <button class="btn btn-warning" [routerLink]="['/admin-signup']">New manager</button>
              </div>
              <div class="col">
                <button class="btn btn-warning" (click)="LogOut()">Log out</button>
              </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="form-group" [hidden]="!crewSubmitted">
        <form style="padding: 1%;">
            <table class="table table-dark table-hover">
                <thead>
                  <th>Crew Name</th>
                  <th>Captain</th>
                  <th>Email</th>
                  <th>Members</th>
                  <th>Category</th>
                </thead>
                <tbody>
                  <tr *ngFor="let crew of crews">
                    <td>{{crew.fld_CrewName}}</td>
                    <td (click)="InfoCrew(row)">{{crew.fld_Captain}}</td>
                    <td (click)="InfoCrew(this)">{{crew.fld_Email}}</td>
                    <td (click)="InfoCrew(this)">{{crew.fld_Members}}</td>
                    <td (click)="InfoCrew(this)">{{crew.fld_Category}}</td>
                    <td><input type="button" value="Edit" (click)="InfoCrew(crew)"></td>
                  </tr>
                </tbody>
                
              </table>
            <button type="button" class="btn btn-warning" [hidden]="!ChangeInfoTeam">Change information</button>
            <button type="button" class="btn btn-danger" [hidden]="!ChangeInfoTeam">Delete crew</button>
        </form>
      </div>
    </div>   
</div>


<div class="form-group" [hidden]="!raceSubmitted">
  <div class="d-flex justify-content-center">
    <form style="padding: 1%;">
        <table class="table table-dark table-hover">
            <thead>
              <th>Zipcode</th>
              <th>Date</th>
              <th>Is Started</th>
              <th>Is Ended</th>
              <th>Race Name</th>
              <th>Race Coordinators</th>
            </thead>
            <tbody>
              <tr   *ngFor="let race of races">
                <td (click)="InfoRace(this)">{{race.fld_Zipcode}}</td>
                <td (click)="InfoRace(this)">{{race.fld_Date}}</td>
                <td (click)="InfoRace(this)">{{race.fld_IsStarted}}</td>
                <td (click)="InfoRace(this)">{{race.fld_IsEnded}}</td>
                <td (click)="InfoRace(this)">{{race.fld_RaceName}}</td>
                <td (click)="InfoRace(this)">{{race.fld_RaceCoordinator}}</td>
              </tr>
            </tbody>
            
          </table>
        <button type="button" class="btn btn-warning" [hidden]="!ChangeInfoRace">Change information</button>
        <button type="button" class="btn btn-danger" [hidden]="!ChangeInfoRace">Delete race</button>
    </form>
  </div>
</div>

