<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col">
      <button type="button" class="btn btn-success" (click)="StartRace()">Start race</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-danger"(click)="EndRace()">End race</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="SearchRace()">Search race</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="SearchTeam()">Search team</button>
    </div>
    <div class="col">
      <button class="btn btn-warning" [routerLink]="['/admin-signup']">New manager</button>
    </div>
    <div class="col">
      <button class="btn btn-danger" (click)="LogOut()">Log out</button>
    </div>
  </div>

  <div class="d-flex justify-content-center" style="padding: 1%;">
    <div class="form-group" [hidden]="!crewSubmitted">
      <table class="table-sm table-hover table-striped table-responsive">
        <thead>
          <th>Crew Name</th>
          <th>Captain</th>
          <th>Email</th>
          <th>Members</th>
          <th>Category</th>
          <th>Password</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <tr *ngFor="let crew of crews">
            <td>
              <input type="text" class="form-control" [(ngModel)]="crew.fld_CrewName" [disabled]="!crew.isEditable">
            </td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="crew.fld_Captain" [disabled]="!crew.isEditable">
            </td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="crew.fld_Email" [disabled]="!crew.isEditable">
            </td>

            <td>
              <input type="text" class="form-control" [(ngModel)]="crew.fld_Members" [disabled]="!crew.isEditable">
            </td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="crew.fld_Category" [disabled]="!crew.isEditable">
            </td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="crew.fld_Password" [disabled]="!crew.isEditable">
            </td>
            <td>
              <button class="btn btn-primary" (click)="crew.isEditable=!crew.isEditable"
                *ngIf="!crew.isEditable">Edit</button>
              <button class="btn-sm btn-success" *ngIf="crew.isEditable" (click)="crew.isEditable=!crew.isEditable"
                (click)="SaveChangesCrew(crew)">Save</button>
              <button class="btn-sm btn-danger" *ngIf="crew.isEditable" (click)="crew.isEditable=!crew.isEditable"
                (click)="DeleteCrew(crew)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary" (click)="crewSubmitted=false">OK</button>
    </div>
  </div>

  <div class="form-group" [hidden]="!raceSubmitted">
    <div class="d-flex justify-content-center">
      <table class="table table-hover table-striped">
        <thead>
          <th>Zipcode</th>
          <th>Date</th>
          <!-- <th>Is Started</th>
          <th>Is Ended</th> -->
          <th>Race Name</th>
          <th>Race Coordinators</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <tr *ngFor="let race of races">
            <td>
              <input type="text" class="form-control" [(ngModel)]="race.fld_Zipcode" [disabled]="!race.isEditable">
            </td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="race.fld_Date" [disabled]="!race.isEditable">
            </td>
            <!--Not necessary for now <td>
              <input type="text" class="form-control" [(ngModel)]="race.fld_IsStarted" [disabled]="!race.isEditable">
            </td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="race.fld_IsEnded" [disabled]="!race.isEditable">
            </td> -->
            <td>
              <input type="text" class="form-control" [(ngModel)]="race.fld_RaceName" [disabled]="!race.isEditable">
            </td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="race.fld_RaceCoordinator"
                [disabled]="!race.isEditable">
            </td>
            <td style="padding: 1%;">
              <button class="btn btn-primary" (click)="race.isEditable=!race.isEditable"
                *ngIf="!race.isEditable">Edit</button>
              <button class="btn-sm btn-success" *ngIf="race.isEditable" (click)="race.isEditable=!race.isEditable"
                (click)="SaveChangesRace(race, race._id)">Save</button>
              <button class="btn-sm btn-danger" *ngIf="race.isEditable" (click)="race.isEditable=!race.isEditable"
                (click)="DeleteRace(race)">Delete</button>
              <button class="btn-sm btn-primary" *ngIf="race.isEditable"
                (click)="UpdateContestants(race.fld_Contestants, race._id)">Add contestants</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="btn btn-primary" (click)="raceSubmitted=false" (click)="submitContestants=false">OK</button>
  </div>

  <div class="form-group" [hidden]="!submitContestants">
    <div class="d-flex justify-content-center">
      <table class="table table-hover table-striped" id="ContestantTable">

        <thead>
          <th>Crew name</th>
          <th>Captain</th>
          <th>Members</th>
          <th>Category</th>
        </thead>
        <tbody>

          <tr *ngFor="let contestant of contestants">
            <td>
              <input type="text" class="form-control" [(ngModel)]="contestant.fld_CrewName"
                [disabled]="!contestant.isEditable">
            </td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="contestant.fld_Captain"
                [disabled]="!contestant.isEditable">
            </td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="contestant.fld_Members"
                [disabled]="!contestant.isEditable">
            </td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="contestant.fld_Category"
                [disabled]="!contestant.isEditable">
            </td>
            <td>
              <button class="btn-sm btn-danger" (click)="DeleteContestant(contestant)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>                                                                                 <!--Gets the Crew name from the input field-->
      <input style="border-color: black; padding: 1%;" type="text" class="form-control" #contestantInput>
      <button style="padding: 1%;" type="submit" class="btn btn-success"(click)="AddContestants(contestantInput.value); inputContestant=''">Add Team</button>
    </div>
    <button style="padding: 1%;" class="btn btn-primary" (click)="submitContestants=false">OK</button>
  </div>
  
</div>