

<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <button style="margin: 5%;" type="button" class="btn btn-success">Start race</button>
                <button style="margin: 5%;" type="button" class="btn btn-danger">End race</button>
                <button style="margin: 5%;" class="btn btn-warning" [routerLink]="['/admin-signup']">New manager</button>
                <button style="margin: 5%;" class="btn btn-warning" (click)="LogOut()">Log out</button>
            </div>
        </div>
        <div class="col">
            <div class="jumbotron">
                <input style="margin: 5%;" type="text" class="form-control" id="CrewSearch">
                <button style="margin: 5%;" type="button" class="btn btn-primary" (click)="SearchTeam()">Search team</button>
            </div>
        </div>
        <div class="col">
            <div class="jumbotron" style="margin: 2%;">
                <input style="margin: 5%;" type="text" class="form-control">
                <button style="margin: 5%;" type="button" class="btn btn-primary">Search race</button>
            
                <input style="margin: 5%;" type="text" class="form-control">
                <button style="margin: 5%;" type="button" class="btn btn-success">Add team</button>
            </div>
        </div>
    </div>   
</div>

<div class="form-group" >
    <form style="padding: 1%;" #crewForm="ngForm">
        <table class="table table-striped table-dark">
            <thead>
              <th>Crew Name</th>
              <th>Captain</th>
              <th>Email</th>
              <th>Password</th>
              <th>Members</th>
              <th>Category</th>
            </thead>
            <tbody>
              <tr *ngFor="let crew of crews">
                <td>{{crew.fld_CrewName}}</td>
                <td>{{crew.fld_Captain}}</td>
                <td>{{crew.fld_Email}}</td>
                <td>{{crew.fld_Password}}</td>
                <td>{{crew.fld_Members}}</td>
                <td>{{crew.fld_Category}}</td>
              </tr>
            </tbody>
            
          </table>
        <button type="button" class="btn btn-warning">Change information</button>
        <button type="button" class="btn btn-danger">Delete crew</button>
    </form>
</div>

<div *ngFor="let crew of crews">
    {{crew.fld_Email}}
</div>

