<div class="container">
    <h1>Login</h1>
    <form formGroupName="LoginFormGroup">
      <div>
        <label>Email</label>
        <input type="text" class="form-control" id="fld_Email"
               [(ngModel)]="model.fld_Email" name="fld_Email"
               #name="ngModel">

      </div>

      <div>
        <label>Password</label>
        <input type="password" class="form-control" id="fld_Password"
               [(ngModel)]="model.fld_Password" name="fld_Password"
               #name="ngModel">      
      </div>

      <button type="button" class="btn btn-success" (click)="Login()">Login</button>

    </form>
</div>
