
<div class="alert alert-success" [hidden]="!submitted">
  <strong *ngIf>Success!</strong> Your team has been added!.
</div>


<div class="form-group" >
  <form style="padding: 1%;" #crewForm="ngForm">
    <h1 style="align-items: center;">Sign up</h1>

    <div class="form-group">
      <label>Crew name</label>
      <input type="text" class="form-control" name="fld_CrewName"
             id="fld_CrewName" required minlength="2"
             [(ngModel)]="model.fld_CrewName"
             #spy #fld_CrewName="ngModel">

      <div *ngIf="fld_CrewName.invalid && (fld_CrewName.dirty || fld_CrewName.touched)" class="alert alert-danger">
        <div *ngIf="fld_CrewName.errors.required">
          Crewn name is required
        </div>
        <div *ngIf="fld_CrewName.errors.minlength">
          Crewn name must be at least 2 characters long
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Captain name</label>
      <input type="text" class="form-control" name="fld_Captain"
             required minlength="2" [(ngModel)]="model.fld_Captain"
             id="fld_Captain"
             #spy
             #fld_Captain="ngModel">
      <div *ngIf="fld_Captain.invalid && (fld_Captain.dirty || fld_Captain.touched)" class="alert alert-danger">
        <div *ngIf="fld_Captain.errors.required">
          Captain name is required
        </div>
        <div *ngIf="fld_Captain.errors.minlength">
          Captain name must be atleast 2 characters long
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="text"
             class="form-control"
             name="fld_Email"
             required
             [(ngModel)]="model.fld_Email"
             id="fld_Email"
             #spy
             #fld_Email="ngModel">
      <div *ngIf="fld_Email.invalid && (fld_Email.dirty || fld_Email.touched)" class="alert alert-danger">
        <div *ngIf="fld_Email.errors.required">
          Email is required
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>password</label>
      <input type="password"
             class="form-control"
             name="fld_Password"
             required minlength="6"
             [(ngModel)]="model.fld_Password"
             id="fld_Password"
             #spy
             #fld_Password="ngModel" />

      <div *ngIf="fld_Password.invalid && (fld_Password.dirty || fld_Password.touched)" class="alert alert-danger">
        <div *ngIf="fld_Password.errors.required">
          Password is required
        </div>
        <div *ngIf="fld_Password.errors.minlength">
          Password must be atleast 6 characters long
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Team size (including captain)</label>
      <input type="text"
             class="form-control"
             name="fld_Members"
             required
             [(ngModel)]="model.fld_Members"
             id="fld_Members"
             #spy
             #fld_Members="ngModel">
      <div *ngIf="fld_Members.invalid && (fld_Members.dirty || fld_Members.touched)" class="alert alert-danger">
        <div *ngIf="fld_Members.errors.required">
          Members are required
        </div>
        <div *ngIf="fld_Members < 1">
          Team must have at least a single member
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Category</label>
      <input type="text"
             class="form-control"
             name="fld_Category"
             required
             [(ngModel)]="model.fld_Category"
             id="fld_Category"
             #spy
             #fld_Category="ngModel" />

      <div *ngIf="fld_Category.invalid && (fld_Category.dirty || fld_Category.touched)" class="alert alert-danger">
        <div *ngIf="fld_Category.errors.required">
          A race category is required
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-success" style="margin: 1%; " [disabled]="!crewForm.form.valid" (click)="onSubmit()">Submit</button>

  </form>
</div>
